.slider-container{
	box-shadow: 0px 5px 20px 0px;
	border-radius: 5px; 
}
.slider ul{
	width: 10000px;
	list-style: none;
}
.slider ul li{
	float: left;
}

.carousel-indicator{
	border:	1px solid;
}
.clouser-li{
	float: left;
	margin-right: 7px;
	border: 1px solid lightgrey;
	border-radius: 10px;
	width: 10px;
	height: 10px;
	background: whitesmoke;
	text-align: center;
	cursor: pointer;
}

.clouser-li-active{
	background: rgb(138, 138, 138);
}